// Main Sass File
$icon-size: 55px;
$dark-overlay: rgba(0,0,0,0.75);

.navbar {
  .nav-link {
    font-size:14px;
    text-transform: uppercase;
    padding-left: 1em !important;
    padding-right: 1em !important;
  }

  .nav-item.active {
    border-left: #444 3px solid;
  }
}

.carousel-item {
  height: 450px;
}

.carousel-image-1 {
  background: url('../img/background1.jpg');
  background-size: cover;
}

body {
  overflow-x: hidden;
}
.carousel-image-2 {
  background: url('../img/background2.jpg');
  background-size: cover;
}

.carousel-image-3 {
  background: url('../img/background3.jpg');
  background-size: cover;
}

.fa {
    font-size: $icon-size;
  }

#home-heading {
  position: relative;
  min-height: 200px;
  background: url('../img/image.jpg');
  background-attachment: fixed;
  background-repeat:  no-repeat;
  text-align: center;
  color: white;
}

.dark-overlay {
  position:absolute;
  background-color: $dark-overlay;
  top:0;
  left:0;
  width:100%;
  height:100%;
}

#video-section {
  position: relative;
  min-height: 200px;
  background: url('../img/media.jpg');
  background-attachment: fixed;
  background-repeat:  no-repeat;
  background-position:0 -300px;
  text-align: center;
  color: white;
  a {
    color: white;
  }
}

footer.bg-black {
  background: #000 !important;
  color: #fff !important;
}

#page-header {
  height: 250px;
  background: url('../img/background1.jpg');
  background-position: 0 -360px;
  background-attachment: fixed;
  color: white;
  border-bottom: 1px #eee solid;
  padding-top: 100px;
}

#about-section {
  img {
    margin-top: -50px;

  }
}

#faq-section {
  .card {
    border: #444;
    a {
      color: #fff;
      text-decoration: none;
    }
  }

  .card-body, .card-header {
    background: #565;
  }
}
